
@{
    ViewBag.Title = "Links";
}

<section id="main">
    <div class="inner">
        <header>
            <h1>Classmates</h1>
        </header>
    </div>
    <div class="container">
        <div class="row">

            <div class="10u -2u">

                <div class="12u">
                    <h2>Dylan Schwarz</h2>

                    <div class="image left img 5u">
                        <img src="~/Content/images/DylanShwarz.jpg" style="height:300px; width:300px" />
                    </div>
                    <a href="http://www.dylanschwarz.com/" target="_blank" class="button  5u custom-btn-1">Dylan Schwarz</a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="10u -2u$">

                <div class="12u">
                    <h2 class="align-right">James Glover</h2>

                    <div class="image right"><img src="~/Content/images/JamesGlover.jpg" style="height:300px; width:300px" /></div>
                    <a href="http://www.codingbyjames.com/" target="_blank" class="button 5u -2u custom-btn-2">Coding by James</a>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="10u -2u">

                <div class="12u">
                    <h2>Dillon Fisher</h2>

                    <div class="image left img 5u">
                        <img src="~/Content/images/DillonFisher.jpeg" style="height:300px; width:300px" />
                    </div>
                    <a href="http://www.dillonfisher.com" target="_blank" class="button custom-btn-1 5u">Dillon Fisher</a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="10u -2u$">

                <div class="12u">
                    <h2 class="align-right">Ben Slenker</h2>

                    <div class="image right"><img src="~/Content/images/BenSlenker.jpeg" style="height:300px; width:300px" /></div>
                    <a href="http://www.benslenker.com" target="_blank" class="button 5u -2u custom-btn-2">Ben Slenker</a>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="10u -2u">

                <div class="12u">
                    <h2>David Muolo</h2>

                    <div class="image left img 5u">
                        <img src="~/Content/images/DavidMuolo.jpeg" style="height:300px; width:300px" />
                    </div>
                    <a href="http://www.davidmuolo.com/" target="_blank" class="button custom-btn-1 5u">David Muolo</a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="10u -2u$">

                <div class="12u">
                    <h2 class="align-right">Rachel Mantei</h2>

                    <div class="image right"><img src="~/Content/images/RachelMantei.jpeg" style="height:300px; width:300px" /></div>
                    <a href="http://www.rachelmantei.com/" target="_blank" class="button 5u -2u custom-btn-2">Rachel Mantei</a>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="10u -2u">

                <div class="12u">
                    <h2>Jeremy Sidener</h2>

                    <div class="image left img 5u">
                        <img src="~/Content/images/JeremeySidener.jpeg" style="height:300px; width:300px" />
                    </div>
                    <a href="http://www.jeremysidener.com/" target="_blank" class="button custom-btn-1 5u">Jeremy Sidener</a>

                </div>
            </div>
        </div>

        

    </div>

</section>

