
@{
    ViewBag.Title = "Portfolio";
}

<section id="main">
    <div class="inner">
        <div class="image fit">
            <img src="~/Content/images/pic11.jpg" alt="" />
        </div>
        <header>
            <h1>Portfolio WIP</h1>

        </header>
        <div>
            <a href="http://frontendstudio.bryandoescode.com/" target="_blank">Fed 1 Studio Project</a>
            <br/>
            <a href="https://github.com/bryanclingan/FED1Studioproject" target="_blank">Fed 1 Studio Project Github</a>
        </div>
        <div>
            <a href="http://storefront.bryandoescode.com/" target="_blank">StoreFront</a>
            <br />
            <a href="https://github.com/bryanclingan/TentStore" target="_blank">StoreFront GitHub</a>
        </div>
        <div>
            <a href="https://github.com/bryanclingan/PortfolioConsoleGame" target="_blank">Console Game GitHub</a>
        </div>
        <div>
            <a href="https://github.com/bryanclingan" target="_blank">GitHub</a>
        </div>
    </div>
</section>