
@{
    ViewBag.Title = "Portfolio";
}

<section id="main">
    <div class="inner">

        <header>
            <h1>Portfolio WIP</h1>

        </header>
        <h4>FED 1 Studio Project</h4>

        <p>
            <span class="image left"><img src="~/Content/images/Fed1Studio.PNG" alt="" /></span>Created From a Wireframe and project brief this project is pure HTML, CSS, and JS. No middle teir or back end involved. It also does not have any Bootstrap or similar frameworks. Everythig you see here was written by me.
            <div>
                <a href="http://frontendstudio.bryandoescode.com/" target="_blank">Fed 1 Studio Project</a>
                <br />
                <a href="https://github.com/bryanclingan/FED1Studioproject" target="_blank">Fed 1 Studio Project Github</a>
            </div>
        </p>
        <br />
        <h4>Text Based Console Game</h4>
        <p>
            <span class="image right"><img src="~/Content/images/ConsoleGame.PNG" alt="" /></span>This is a text-based game that I put together entirely in C#. It is a card game where you have to draw a higher total count than the enemy without going over your limit to decide who attacks. Feel free to check it out and be sure to check it out for updates
            <div>
                <a href="https://github.com/bryanclingan/PortfolioConsoleGame" target="_blank">Console Game GitHub</a>
            </div>
        </p>
        <br />
        <h4>StoreFront</h4>

        <p>
            <span class="image left"><img src="~/Content/images/Fed1Studio.PNG" alt="" /></span>A two-tier MVC application connected to data. This is a mock ecommerce site for my tent store Pitch It! I selected a template and created everything else myself. That includes the database, data-layer using Entity Framework, and all the necessary models, views, and controllers.
            <div>
                <a href="http://storefront.bryandoescode.com/" target="_blank">StoreFront</a>
                <br />
                <a href="https://github.com/bryanclingan/TentStore" target="_blank">StoreFront GitHub</a>
            </div>
        </p>
        
        <h4>GitHub</h4>
        <p>
            Here is a link to my GitHub. Feel free to check out other things that i have worked on or am working on.
            <div>
                <a href="https://github.com/bryanclingan" target="_blank">GitHub</a>
            </div>
        </p>
       
    </div>
</section>