
@{
    ViewBag.Title = "Resume";
}

<section id="main">
    <div class="inner">
        <div class="image fit">
            <img src="~/Content/images/pic11.jpg" alt="" />
        </div>
        <header>
            <h1>Resume</h1>

        </header>
        <p>Add Resume</p>
    </div>
</section>
