
@{
    ViewBag.Title = "Resume";
}

<section id="main">
    <div class="inner">
        
        <header>
            <h1>Resume</h1>
        </header>
        <embed src="~/Content/images/Bryan Clingan Resume IT.pdf" style="width: 100%; height: 60em; margin-top: 5em;" scrolling="auto" />
    </div>
</section>
